body{
  background-color: lightgray;
}

.div_start{
  text-align: center;
  margin: auto;
  margin-top: 20%;
  button{
    font-size: 2em;
    width: 100px;
    height: 100px;
  }
}

.div_plateau_jeu{
  margin: auto;
  background-color: black;
  width: 1400px;
  height: 700px;
}
.div_navig_start{
  height: 50px;
  width: 50px;
  margin: auto;
}